@import url("nav.css");
@import url("cabecalho.css");
@import url("metricas.css");
@import url("vagas.css");
@import url("depoimento.css");
@import url("footer.css");

:root{
    --gray:#667085;
    --grayDark:#101828;
    --graylight :#EAECF0;
    --gray3:#F9FAFB;
    --vinho:#8E2424;
    --branco:#ffffff ;
    --red: rgba(195, 25, 25, 0.03);

}

body{
    font-family: 'Inter', sans-serif;
  
    background-color: var(--branco);
    color: var(--gray);
    margin: 0 auto;
}
